<!DOCTYPE html>
<html class="no-js">
  

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CVMarbleAndGranite</title>
    <meta name="description" content="Wolverine - Responsive Multipurpose HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="194x194">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="192x192">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/fonts/wolverine/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/wolverine/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fullPage.css">
    <!--Main stylesheet-->
    <link rel="stylesheet" href="assets/css/main.css">
    <!--Modernizr js-->
    <script src="assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script><style> .nav-main-menu > li > ul, .nav-shop-cart{display:none;}</style>
	<script src="assets/js/angular.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
 	 <div class="main-nav-wrapper nav-wrapper-2" >
      <nav>
        <div class="main-nav main-nav-2 type-1" style="background-image: url('assets/images/logo_bg.png'); background-repeat: repeat-x;">

       
			<div class="new_menu">
				<div class="row">
					<div class="col-sm-3 responsive">
						<div ><a href="index.html"><img src="assets/images/cv_logo.png" class="main_logo" alt="CVMarbleAndGranite"></a></div>
					</div>
				
					<div class="col-sm-6 responsive">
							<ul class="block_menu_ul">
								<li class="block_menu_li"><a  href="index.html" >Home</a></li>
								<li class="block_menu_li"><a href="page-about-2.html" >About us</a></li>
								<li class="block_menu_li"><a href="collections.html" class="active">Collections</a></li>
								<li class="block_menu_li"><a href="page-contact.html">Contact us</a></li>
							</ul>
					</div>
					<div class="col-sm-3 responsive" >
					
						 <ul class="contact_menu_u1">
						   <li ><a href="tel:+91-9772457618"><img class="contact_img" src="favicon/cvmg_mob.png" /><span>+91 9772457618</span></a></li>
								<li ><a href="mailto:support@cvmarbleandgranite.com"><img img class="contact_img" src="favicon/cvmg_email.png" /><span>support@cvmarbleandgranite.com</span></a></li>
						   
						  </ul>
					</div>
				</div>
            </div>    
                 
            
             
             
             
			
			<div class="nav-logo logo-2"><a href="index.html"><img src="assets/images/cv_logo.png" alt="CVMarbleAndGranite"></a></div>
		   
            <ul class="nav-main-menu small-screen">
									
              <li><a href="index.html">Home</a></li>
               
             
              <li><a href="page-about-2.html">About us </a></li>
               
              
              <li><a href="collections.html">Collections</a>
	           </li>
               
              
                   
                  
              <li><a href="page-contact.html">Contact us</a></li>
                   
              </ul>     
				   <div class="nav-hamburger-wrapper">
						<div class="cell-vertical-wrapper">
							<div class="cell-middle">
								<div class="nav-hamburger"><span>Menu</span></div>
							</div>
						</div>
					</div>						
 
        </div>
      </nav>
    </div>
	

          <main>
      <!--site header-->
      <header class="site-header"></header>
      <header class="site-header portfolio-page-header">
         <div data-stellar-background-ratio="0.25" style="background-color:#004080;" class="parallax-bg"></div>
        <div class="container">
          <h1>OUR COLLECTIONS</h1>
        </div>
      </header>
	  <section><div class="row"> <div class="col-md-4" style="border-radius:15px;border-style: solid;border-width:1px;background-color:#e6f0ff;font-size:20px;text-align:center"><a href="#mandg">Marbles/Granites</a></div><div class="col-md-4" style="border-style: solid;border-width:1px;font-size:20px;text-align:center;background-color:#e6f0ff"><a href="#handicraft">Handicraft</a></div>
	  <div class="col-md-4" style="border-radius:15px;border-style: solid;border-width:1px;background-color:#e6f0ff;font-size:20px;text-align:center">
	  <a href="#teakwood">Teakwood</a></div></div></section>
	
		
	  <section id="mandg" style="background-color:#e6f0ff;">
	      <header class="section-header header-type-2 style-2">
          <div class="container">
            <div class="row" style="text-align:center">
              
                <h1>Marbles/Granites</h1>
         
   
            </div>
          </div>
        </header>
	       
      
			<div class="row">
				  <div class="col-md-2">
					<div class="thumbnail">
					
					     <div class="coll-image" >
							<img src="assets/images/site/mandg/MandG_1.jpg" alt="MG1001" style="width:100%" id="zoom-image-1">
						</div>
						<div class="caption">
						  <p>Block No MG1001 Cappuchino Brown size -L-238 H-175 No of Pcs- 68</p>
						</div>
					
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_2.jpg" alt="MG1002" style="width:100%" id="zoom-image-2">
					</div>
						<div class="caption">
						  <p>Block No MG1002 Cappuchino Brown size -L-238 H-175 No of Pcs- 68</p>
						</div>
					  
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_3.jpg" alt="MG1003" style="width:100%" id="zoom-image-3">
					</div>
						<div class="caption">
						  <p>Block No MG1003 Cappuchino Brown L-109 H-62 width-75 Inch</p>
						</div>
					 
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_4.jpg" alt="MG1004" style="width:100%" id="zoom-image-4">	</div>
						<div class="caption">
						  <p>Block No MG1004 Cappuchino Brown Size L-270 H-156 Cm Pcs-58</p>
						</div>
					 </div>
				
				  </div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_5.jpg" alt="MG1005" style="width:100%" id="zoom-image-5">	</div>
						<div class="caption">
						  <p>Block No MG1005 Cappuchino Brown Size L-270 H-156 Cm Pcs-58</p>
						</div>
					 </div>
					</div>
				 <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_6.jpg" alt="MG1006" style="width:100%" id="zoom-image-6">	</div>
						<div class="caption">
						  <p>Block No MG1006 Cappuchino Brown 3cm L-280 H-168 Pcs-66</p>
						</div>
					 </div>
					</div>
			</div>
			<div class="row">
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_7.jpg" alt="MG1007" style="width:100%" id="zoom-image-7">	</div>
						<div class="caption">
						  <p>Block No MG1007 Cappuchino Brown 3cm L-280 H-168 Pcs-66 (3)</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_8.jpg" alt="MG1008" style="width:100%" id="zoom-image-8">	</div>
						<div class="caption">
						  <p>Block No MG1008</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_9.jpg" alt="MG1009" style="width:100%" id="zoom-image-9">	</div>
						<div class="caption">
						  <p>Block No MG1009</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_10.jpg" alt="MG1010" style="width:100%" id="zoom-image-10">	</div>
						<div class="caption">
						  <p>Block No MG1010</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_11.jpg" alt="MG1011" style="width:100%" id="zoom-image-11">	</div>
						<div class="caption">
						  <p>Block No MG1011</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_12.jpg" alt="MG1012" style="width:100%" id="zoom-image-12">	</div>
						<div class="caption">
						  <p>Block No MG1012 Forest Green 3cm L-270 H-148 Pcs-42</p>
						</div>
					 </div>
					</div>
			</div>
			<div class="row">
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_13.jpg" alt="MG1013" style="width:100%" id="zoom-image-13">	</div>
						<div class="caption">
						  <p>Lot No MG1013 Forest Brown 2cm Antique L-310 H-190 Cm  Pcs-71</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_14.jpg" alt="MG1014" style="width:100%" id="zoom-image-14">	</div>
						<div class="caption">
						  <p>Lot No MG1014 Forest Brown 2cm Antique L-280 H-150 Cm Pcs-28</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_15.jpg" alt="MG1015" style="width:100%" id="zoom-image-15">	</div>
						<div class="caption">
						  <p>Lot No MG1015 Forest Brown 2cm polish  L-310 H-188 Cm Pcs-39 </p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_16.jpg" alt="MG1016" style="width:100%" id="zoom-image-16">	</div>
						<div class="caption">
						  <p>Lot No MG1016 Cappuchino brown 2cm L-280 H-175 Pcs-69 (3)</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_17.jpg" alt="MG1017" style="width:100%" id="zoom-image-17">	</div>
						<div class="caption">
						  <p>Lot No MG1017 Cappuchino brown 2cm L-280 H-175 Pcs-69 (4)</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/mandg/MandG_18.jpg" alt="MG1018" style="width:100%" id="zoom-image-18">	</div>
						<div class="caption">
						  <p>Lot No MG1018 Cappuchino brown 2cm L-275 H-168 Pcs-69 (5)</p>
						</div>
					 </div>
					</div>
			</div>
	
      </section>
		
		  <section id="handicraft" >
	      <header class="section-header header-type-2 style-2">
          <div class="container">
            <div class="row" style="text-align:center">
             
                <h1>Handicraft</h1>
			
         
   
            </div>
          </div>
        </header>
		<div class="row">
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_20.jpg" alt="HC1020" style="width:100%" id="zoom-image-H20">	</div>
						<div class="caption">
						  <p>Handicraft HC1020</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_2.jpg" alt="HC1002" style="width:100%" id="zoom-image-H2">	</div>
						<div class="caption">
						  <p>Handicraft HC1002</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_21.jpg" alt="HC1021" style="width:100%" id="zoom-image-H21">	</div>
						<div class="caption">
						  <p>Handicraft HC1021</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_4.jpg" alt="HC1004" style="width:100%" id="zoom-image-H4">	</div>
						<div class="caption">
						  <p>Handicraft HC1004</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_5.jpg" alt="HC1005" style="width:100%" id="zoom-image-H5">	</div>
						<div class="caption">
						  <p>Handicraft HC1005</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_6.jpg" alt="HC1006" style="width:100%" id="zoom-image-H6">	</div>
						<div class="caption">
						  <p>Handicraft HC1006</p>
						</div>
					 </div>
					</div>
			</div>
		<div class="row">
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_7.jpg" alt="HC1007" style="width:100%" id="zoom-image-H7">	</div>
						<div class="caption">
						  <p>Handicraft HC1007</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_9.jpg" alt="HC1009" style="width:100%" id="zoom-image-H9">	</div>
						<div class="caption">
						  <p>Handicraft HC1009</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_10.jpg" alt="HC1010" style="width:100%" id="zoom-image-H10">	</div>
						<div class="caption">
						  <p>Handicraft HC1010</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_11.jpg" alt="HC10011" style="width:100%" id="zoom-image-H11">	</div>
						<div class="caption">
						  <p>Handicraft HC10011</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_12.jpg" alt="HC1012" style="width:100%" id="zoom-image-H12">	</div>
						<div class="caption">
						  <p>Handicraft HC1012</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/handicraft/Handicraft_14.jpg" alt="HC1014" style="width:100%" id="zoom-image-H14">	</div>
						<div class="caption">
						  <p>Handicraft HC1014</p>
						</div>
					 </div>
					</div>
			</div>		
			   
		</section>
		
		
		
			  <section id="teakwood" style="background-color: #e6f0ff;">
	      <header class="section-header header-type-2 style-2">
          <div class="container">
            <div class="row" style="text-align:center">
              
                <h1>TeakWood</h1>
         
   
            </div>
          </div>
        </header>
			<div class="row">
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_14.jpg" alt="TW1001" style="width:100%" id="zoom-image-TW1">	</div>
						<div class="caption">
						  <p>Teakwood TW1001</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_2.jpg" alt="TW1002" style="width:100%" id="zoom-image-TW2">	</div>
						<div class="caption">
						  <p>Teakwood TW1002</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_3.jpg" alt="TW1003" style="width:100%" id="zoom-image-TW3">	</div>
						<div class="caption">
						  <p>Teakwood TW1003</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_4.jpg" alt="TW1004" style="width:100%" id="zoom-image-TW4">	</div>
						<div class="caption">
						  <p>Teakwood TW1004</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_5.jpg" alt="TW1005" style="width:100%" id="zoom-image-TW5">	</div>
						<div class="caption">
						  <p>Teakwood TW1005</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_6.jpg" alt="TW1006" style="width:100%" id="zoom-image-TW6">	</div>
						<div class="caption">
						  <p>Teakwood TW1006</p>
						</div>
					 </div>
					</div>
			</div>
			<div class="row">
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_7.jpg" alt="TW1007" style="width:100%" id="zoom-image-TW7">	</div>
						<div class="caption">
						  <p>Teakwood TW1007</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_8.jpg" alt="TW1008" style="width:100%" id="zoom-image-TW8">	</div>
						<div class="caption">
						  <p>Teakwood TW1008</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_9.jpg" alt="TW1009" style="width:100%" id="zoom-image-TW9">	</div>
						<div class="caption">
						  <p>Teakwood TW1009</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_10.jpg" alt="TW1010" style="width:100%" id="zoom-image-TW10">	</div>
						<div class="caption">
						  <p>Teakwood TW1010</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_11.jpg" alt="TW1011" style="width:100%" id="zoom-image-TW11">	</div>
						<div class="caption">
						  <p>Teakwood TW1011</p>
						</div>
					 </div>
					</div>
				  <div class="col-md-2">
					<div class="thumbnail">
					 <div class="coll-image" >
						<img src="assets/images/site/teakwood/Teakwood_13.jpg" alt="TW1012" style="width:100%" id="zoom-image-TW12">	</div>
						<div class="caption">
						  <p>Teakwood TW1012</p>
						</div>
					 </div>
					</div>
			</div>	
	</section>
		
		<div id="div_zoom" class="outPopUp"></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>  
		$(document).ready(function(){
			$('img')
				.filter(function() {
        return this.id.match(/zoom-image-*/);
		}).click(function(){
		//alert('<img id="theImg" src="' + $(this).attr('src') +'" />');
		$("#div_zoom").empty();
		$('#div_zoom').prepend('<img id="theImg" src="' + $(this).attr('src') +'" width=100% />');
		
		$("#div_zoom").show();
		$("#div_zoom").focus();
		
		});
		
		$(document).mouseup(function(e) 
{
    var container = $("#div_zoom");

    // if the target of the click isn't the container nor a descendant of the container
    if (!container.is(e.target) && container.has(e.target).length === 0) 
    {
        container.hide();
    }
});
		
		
		});
	
		
   
		
		</script>

	  <!--
      <section>
        <div class="count-section-01 style-1">
          <div class="container remove-col-padding">
            <div class="counter-group">
              <div class="count-wrapper col-sm-6 col-xs-12 section-block">
                <div class="counter">
                  <h1 data-from="0" data-to="195" class="timer"></h1>
                  <p>Web Design Projects</p>
                </div>
              </div>
              <div class="count-wrapper col-sm-6 col-xs-12 section-block">
                <div class="counter">
                  <h1 data-from="0" data-to="280" class="timer"></h1>
                  <p>Happy Client</p>
                </div>
              </div>
              <div class="count-wrapper col-sm-6 col-xs-12 section-block">
                <div class="counter">
                  <h1 data-from="0" data-to="369" class="timer"></h1>
                  <p>Award Winer</p>
                </div>
              </div>
              <div class="count-wrapper col-sm-6 col-xs-12 section-block">
                <div class="counter">
                  <h1 data-from="0" data-to="124" class="timer"></h1>
                  <p>Cup Of Coffee</p>
                </div>
              </div>
              <div class="count-wrapper col-sm-6 col-xs-12 section-block">
                <div class="counter">
                  <h1 data-from="0" data-to="105" class="timer"></h1>
                  <p>Codelines</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bgc-gray">
        <div class="page-services">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="content section-block">
                  <h4 class="heading-hr-1">WHO ARE OUR CLIENTS?</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><a href="page-contact.html" class="normal-btn normal-btn-main btn-size-5">CONTACT US</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="logo">
                  <ul>
                    <li><a href="#"><img src="assets/images/brand-logo-1.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-2.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-3.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-4.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-5.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-6.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-3.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-1.png" alt="brand"></a></li>
                    <li><a href="#"><img src="assets/images/brand-logo-2.png" alt="brand"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="one-child">
        <header class="section-header header-type-2 style-2">
          <div class="container">
            
        </div>
      </section>-->
      <section class="one-child">
        <div data-stellar-background-ratio="0.25" style="background-image: url('assets/images/testimonial-img2.jpg');" class="parallax-bg quote-slider-parallax"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12 text-center color-light">
              <h4 class="testimonial-heading-01">TESTIMONIALS</h4>
              <div class="testimonial-01 simple-slider">
                <div class="testimonial-item">
                  <div class="item-content">
                    <p class="comment">&quot; I had a few questions but CVMarbleAndGranite got back to me promptly with the answers. I love the way they helped me to choose the marble for my house.&quot;</p>
                    <p class="name text-right">Misskuma</p>
                  </div>
                </div>
               <div class="testimonial-item">
                  <div class="item-content">
                    <p class="comment">&quot; I would thanks CV marbles and granites and will surely recommend it for any marble works. I would appreciate them for their big ears towards all the details and they have a huge stock yard so I could choose whatever I liked. &quot;</p>
                    <p class="name text-right">Johnathan Nash</p>
                  </div>
                </div> 
               <div class="testimonial-item">
                  <div class="item-content">
                    <p class="comment">&quot;The showroom and staff are great, showed us their processing unit and gave us a very good price for a large amount of granite for our kitchen, flooring and bathroom.  &quot;</p>
                    <p class="name text-right">Jyoti Singh</p>
                  </div>
                </div> 
 
				</div>
            </div>
          </div>
        </div>
		
      </section>
      <!--site footer-->
       <footer class="footer-preset-02" style="background-color:#000033;color:#ffffff;"> <!--monti-added color-->
        <div class="container">
          <div class="footer-preset-wrapper">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer-quote-01">
                  <div class="footer-quote">
				  <h3 style="color:white;">Why CVMarbleAndGranite?</h3> <!--monti-added color-->
                    <div class="content">
                      <p>We are known for the superior quality and this is the reason why we are most preferred vendor while supply in temples and high end hotels.
					  <br><br>Our Prices are most reasonable and competitive. </p><a href="page-about-2.html" style="color:#ffffff;">Read More</a> <!--MOnti-Added color-->
                    </div>
                    <div class="icon">
                      <p style="color:#ffffff;">Follow Us:</p> <!--monti-addedcolor-->
                      <ul class="social-02">
                        <li><a href="#" style="color:#ffffff;"><i class="fa icon-facebook"></i></a></li> <!--monti-added color-->
                        
                        <li><a href="#" style="color:#ffffff;"><i class="fa icon-linkedin"></i></a></li>  <!--monti-added color-->
                        <li><a href="#" style="color:#ffffff;"><i class="fa icon-gplus"></i></a></li>  <!--monti-added color-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="block-service-style-03">
                     <h3 style="color:white;">Reach Us</h3>  <!--monti-added color-->
	                    
					
					<p style="margin-bottom: -3px;" class="bold">CV M<small>&</small>G, Jaipur, Rajasthan, India </p>
					<p class="bold">CV M<small>&</small>G, Seattle, WA, USA. </p>
					<p class="bold">CV M<small>&</small>G, London, UK. </p>
					<p class="bold">CV M&G, Melbourne, Australia. </p>
					<p style="margin-top:-15px"><i style="font-weight: 600;" class="fa fa-mobile fa-2x">&nbsp;&nbsp;+919772457618</i></p>
				



					</div>
              </div>
              <div class="col-md-offset-0 col-md-4 col-sm-8 col-sm-offset-2 col-xs-12" style="color:white">
                <h3 style="color:white;">QUICK CONTACT US</h3> <!--monti-added color-->
				<form id='quick_contact_form' ng-app="quick_contact_form"  ng-submit="submit()" ng-controller="QuickContactController">
				<div ng-show="quickcontact.showSuccessMsg" style="background-color:green;color:white;"><span>Thanks for contacting us. We will get back to you as soon as possible</span></div>
                <div class="widget contact-us">
                  
                    <input type="text" name="name" placeholder="Name"  ng-model="quickcontactf.username" style="color:black" required />
                    <input type="email" name="email" placeholder="Email"  ng-model="quickcontactf.email" style="color:black" required class="email"/>
                    <textarea name="message" placeholder="Message" style="color:black"  ng-model="quickcontactf.message" required ></textarea>
                    <button type="submit" id="submit" class="normal-btn normal-btn-main btn-size-5" >{{quickcontactf.submit}}</button>
                  
                </div>
				</form>
              </div>
            </div>
          </div>
	<script>
  angular.module('quick_contact_form', [])
  .controller('QuickContactController', ['$scope','$http','$timeout', function($scope,$http,$timeout) {
  $scope.quickcontact ={showSuccessMsg:false};
  $scope.quickcontactf={submit:"SUBMIT"};
   $scope.submit = function() {
        $scope.quickcontactf.submit="Processing..";
		var req = {
		method: 'POST',
		url: 'php/email.php?do=contact',
		headers: {'Content-Type': 'application/json'},
		data: { username: $scope.quickcontactf.username, email: $scope.quickcontactf.email, message:$scope.quickcontactf.message }
		};
	  
	  $http(req).success(
	  function(response) {
			$scope.quickcontact ={showSuccessMsg:true};
			
			$timeout(function(){
				$scope.quickcontact ={showSuccessMsg:false};
				}, 7000);
			

			$scope.quickcontactf="";
			$scope.quickcontactf={submit:"SUBMIT"};
			
        
		}
	  
	  ).error(
	  function(response) {
        alert("Sorry there was some issue registering your details. Please try again or send mail to support@cvmarbleandgranite.com");
		}
	  
	  );
 
      
      };
    }]);
	angular.bootstrap(document.getElementById("quick_contact_form"), ['quick_contact_form']);
</script>	
           <div class="footer-foot text-center" style="background-color:#000033;">  <!--monti-added color-->
            <p>© 2017 CV MarbleAndGranite &nbsp;  </p>
          </div>
          </div>
          </div>
        </div>
      </footer>
      </main>
    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/SmoothScroll.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/slick.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/packery-mode.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/main.js"></script>
 
    
  </body>

</html>