<!DOCTYPE html>
<html class="no-js">
  

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CVMarbleAndGranite</title>
    <meta name="description" content="Wolverine - Responsive Multipurpose HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="194x194">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="192x192">
    <link rel="icon" type="image/png" href="favicon/favi-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/fonts/wolverine/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/wolverine/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fullPage.css">
    <!--Main stylesheet-->
    <link rel="stylesheet" href="assets/css/main.css">
    <!--Modernizr js-->
    <script src="assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script><style> .nav-main-menu > li > ul, .nav-shop-cart{display:none;}</style>
	<script src="assets/js/angular.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
 	 <div class="main-nav-wrapper nav-wrapper-2" >
      <nav>
        <div class="main-nav main-nav-2 type-1" style="background-image: url('assets/images/logo_bg.png'); background-repeat: repeat-x;">

       
			<div class="new_menu">
				<div class="row">
					<div class="col-sm-3 responsive">
						<div ><a href="index.html"><img src="assets/images/cv_logo.png" class="main_logo" alt="CVMarbleAndGranite"></a></div>
					</div>
				
					<div class="col-sm-6 responsive">
							<ul class="block_menu_ul">
								<li class="block_menu_li"><a  href="index.html" >Home</a></li>
								<li class="block_menu_li"><a href="page-about-2.html" >About us</a></li>
								<li class="block_menu_li"><a href="collections.html" class="active">Collections</a></li>
								<li class="block_menu_li"><a href="page-contact.html">Contact us</a></li>
							</ul>
					</div>
					<div class="col-sm-3 responsive" >
					
						 <ul class="contact_menu_u1">
						   <li ><a href="tel:+91-9772457618"><img class="contact_img" src="favicon/cvmg_mob.png" /><span>+91 9772457618</span></a></li>
								<li ><a href="mailto:support@cvmarbleandgranite.com"><img img class="contact_img" src="favicon/cvmg_email.png" /><span>support@cvmarbleandgranite.com</span></a></li>
						   
						  </ul>
					</div>
				</div>
            </div>    
                 
            
             
             
             
			
			<div class="nav-logo logo-2"><a href="index.html"><img src="assets/images/cv_logo.png" alt="CVMarbleAndGranite"></a></div>
		   
            <ul class="nav-main-menu small-screen">
									
              <li><a href="index.html">Home</a></li>
               
             
              <li><a href="page-about-2.html">About us </a></li>
               
              
              <li><a href="collections.html">Collections</a>
	           </li>
               
              
                   
                  
              <li><a href="page-contact.html">Contact us</a></li>
                   
              </ul>     
				   <div class="nav-hamburger-wrapper">
						<div class="cell-vertical-wrapper">
							<div class="cell-middle">
								<div class="nav-hamburger"><span>Menu</span></div>
							</div>
						</div>
					</div>						
 
        </div>
      </nav>
    </div>
	

          <main>
      <!--site header-->
      <header class="site-header"></header>
      <header class="site-header portfolio-page-header">
         <div data-stellar-background-ratio="0.25" style="background-color:#004080;" class="parallax-bg"></div>
        <div class="container">
          <h1>OUR COLLECTIONS</h1>
        </div>
      </header>
	  <section>
			   <div class="row" > 
				  <div class="col-md-4" style="height:400px;border-style: solid;border-width:20px;border-color:white;background-color:#e6f0ff;font-size:20px;text-align:center;postion:relative">
					<div class="col-md-4" style="height:30%;width:100%;background-color:grey;font-size:20px;text-align:center; postion:absolute;margin-top:60%;margin-bottom:5%;opacity:.3">Marbles</div>		  
				  </div>
				  <div class="col-md-4" style="height:400px;border-style: solid;border-width:20px;border-color:white;font-size:20px;text-align:center;background-color:#e6f0ff"><a href="#handicraft">Handicraft</a></div>
				  <div class="col-md-4" style="height:400px;border-style: solid;border-width:20px;border-color:white;background-color:#e6f0ff;font-size:20px;text-align:center"><a href="#teakwood">Teakwood</a></div>
			  </div>
			   <div class="row" > 
				  <div class="col-md-4" style="height:400px;border-style: solid;border-width:20px;border-color:white;background-color:#e6f0ff;font-size:20px;text-align:center"><a href="#mandg">Marbles/Granites</a></div>
				  <div class="col-md-4" style="height:400px;border-style: solid;border-width:20px;border-color:white;font-size:20px;text-align:center;background-color:#e6f0ff"><a href="#handicraft">Handicraft</a></div>
				  <div class="col-md-4" style="height:400px;border-style: solid;border-width:20px;border-color:white;background-color:#e6f0ff;font-size:20px;text-align:center"><a href="#teakwood">Teakwood</a></div>
			  </div>			  
	  </section>
	
		
	
      <section class="one-child">
        <div data-stellar-background-ratio="0.25" style="background-image: url('assets/images/testimonial-img2.jpg');" class="parallax-bg quote-slider-parallax"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12 text-center color-light">
              <h4 class="testimonial-heading-01">TESTIMONIALS</h4>
              <div class="testimonial-01 simple-slider">
                <div class="testimonial-item">
                  <div class="item-content">
                    <p class="comment">&quot; I had a few questions but CVMarbleAndGranite got back to me promptly with the answers. I love the way they helped me to choose the marble for my house.&quot;</p>
                    <p class="name text-right">Misskuma</p>
                  </div>
                </div>
               <div class="testimonial-item">
                  <div class="item-content">
                    <p class="comment">&quot; I would thanks CV marbles and granites and will surely recommend it for any marble works. I would appreciate them for their big ears towards all the details and they have a huge stock yard so I could choose whatever I liked. &quot;</p>
                    <p class="name text-right">Johnathan Nash</p>
                  </div>
                </div> 
               <div class="testimonial-item">
                  <div class="item-content">
                    <p class="comment">&quot;The showroom and staff are great, showed us their processing unit and gave us a very good price for a large amount of granite for our kitchen, flooring and bathroom.  &quot;</p>
                    <p class="name text-right">Jyoti Singh</p>
                  </div>
                </div> 
 
				</div>
            </div>
          </div>
        </div>
		
      </section>
      <!--site footer-->
       <footer class="footer-preset-02" style="background-color:#000033;color:#ffffff;"> <!--monti-added color-->
        <div class="container">
          <div class="footer-preset-wrapper">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer-quote-01">
                  <div class="footer-quote">
				  <h3 style="color:white;">Why CVMarbleAndGranite?</h3> <!--monti-added color-->
                    <div class="content">
                      <p>We are known for the superior quality and this is the reason why we are most preferred vendor while supply in temples and high end hotels.
					  <br><br>Our Prices are most reasonable and competitive. </p><a href="page-about-2.html" style="color:#ffffff;">Read More</a> <!--MOnti-Added color-->
                    </div>
                    <div class="icon">
                      <p style="color:#ffffff;">Follow Us:</p> <!--monti-addedcolor-->
                      <ul class="social-02">
                        <li><a href="#" style="color:#ffffff;"><i class="fa icon-facebook"></i></a></li> <!--monti-added color-->
                        
                        <li><a href="#" style="color:#ffffff;"><i class="fa icon-linkedin"></i></a></li>  <!--monti-added color-->
                        <li><a href="#" style="color:#ffffff;"><i class="fa icon-gplus"></i></a></li>  <!--monti-added color-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="block-service-style-03">
                     <h3 style="color:white;">Reach Us</h3>  <!--monti-added color-->
	                    
					
					<p style="margin-bottom: -3px;" class="bold">CV M<small>&</small>G, Jaipur, Rajasthan, India </p>
					<p class="bold">CV M<small>&</small>G, Seattle, WA, USA. </p>
					<p class="bold">CV M<small>&</small>G, London, UK. </p>
					<p class="bold">CV M&G, Melbourne, Australia. </p>
					<p style="margin-top:-15px"><i style="font-weight: 600;" class="fa fa-mobile fa-2x">&nbsp;&nbsp;+919772457618</i></p>
				



					</div>
              </div>
              <div class="col-md-offset-0 col-md-4 col-sm-8 col-sm-offset-2 col-xs-12" style="color:white">
                <h3 style="color:white;">QUICK CONTACT US</h3> <!--monti-added color-->
				<form id='quick_contact_form' ng-app="quick_contact_form"  ng-submit="submit()" ng-controller="QuickContactController">
				<div ng-show="quickcontact.showSuccessMsg" style="background-color:green;color:white;"><span>Thanks for contacting us. We will get back to you as soon as possible</span></div>
                <div class="widget contact-us">
                  
                    <input type="text" name="name" placeholder="Name"  ng-model="quickcontactf.username" style="color:black" required />
                    <input type="email" name="email" placeholder="Email"  ng-model="quickcontactf.email" style="color:black" required class="email"/>
                    <textarea name="message" placeholder="Message" style="color:black"  ng-model="quickcontactf.message" required ></textarea>
                    <button type="submit" id="submit" class="normal-btn normal-btn-main btn-size-5" >{{quickcontactf.submit}}</button>
                  
                </div>
				</form>
              </div>
            </div>
          </div>
	<script>
  angular.module('quick_contact_form', [])
  .controller('QuickContactController', ['$scope','$http','$timeout', function($scope,$http,$timeout) {
  $scope.quickcontact ={showSuccessMsg:false};
  $scope.quickcontactf={submit:"SUBMIT"};
   $scope.submit = function() {
        $scope.quickcontactf.submit="Processing..";
		var req = {
		method: 'POST',
		url: 'php/email.php?do=contact',
		headers: {'Content-Type': 'application/json'},
		data: { username: $scope.quickcontactf.username, email: $scope.quickcontactf.email, message:$scope.quickcontactf.message }
		};
	  
	  $http(req).success(
	  function(response) {
			$scope.quickcontact ={showSuccessMsg:true};
			
			$timeout(function(){
				$scope.quickcontact ={showSuccessMsg:false};
				}, 7000);
			

			$scope.quickcontactf="";
			$scope.quickcontactf={submit:"SUBMIT"};
			
        
		}
	  
	  ).error(
	  function(response) {
        alert("Sorry there was some issue registering your details. Please try again or send mail to support@cvmarbleandgranite.com");
		}
	  
	  );
 
      
      };
    }]);
	angular.bootstrap(document.getElementById("quick_contact_form"), ['quick_contact_form']);
</script>	
           <div class="footer-foot text-center" style="background-color:#000033;">  <!--monti-added color-->
            <p>© 2017 CV MarbleAndGranite &nbsp;  </p>
          </div>
          </div>
          </div>
        </div>
      </footer>
      </main>
    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/SmoothScroll.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/slick.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/packery-mode.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/main.js"></script>
 
    
  </body>

</html>